.channels {
	padding-left: var(--padding-desktop);
	padding-right: var(--padding-desktop);
}

.channels .channel-list {
	margin-top: 15px;
	margin-bottom: 15px;
}

.channels .channel-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #333;
	margin-top: -1px;
	padding: 10px 20px 10px 10px;
	background-color: white;
	border: 1px solid var(--primary-color);
	border-radius: 2px;
	height: 50px;
}

.channel-list .list-header {
	height: 30px;
	font-weight: bold;
	background-color: rgba(var(--primary-color-rgb), 0.1);
}

.channel-card .title {
	flex:0.2;
	margin-right: 20px;
}

.channel-card .description {
	flex: 0.7;
}

.channel-card .action-cell {
	flex: 0.1;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
}

.action-cell .action {
	color: var(--primary-color);
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	margin-left: 10px;
}