.users {
	padding-left: var(--padding-desktop);
	padding-right: var(--padding-desktop);
}

.users .user-list {
	margin-top: 15px;
	margin-bottom: 15px;
}

.users .user-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #333;
	margin-top: -1px;
	padding: 10px 20px 10px 10px;
	background-color: white;
	border: 1px solid var(--primary-color);
	border-radius: 2px;
	height: 50px;
}

.user-list .list-header {
	height: 30px;
	font-weight: bold;
	background-color: rgba(var(--primary-color-rgb), 0.1);
}

.user-card .cell {
	display: flex;
	flex:0.2;
	margin-right: 10px;
}

.user-card .action-cell {
	flex: 0.2;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
		margin-right: 10px;
}
