.analytics {
	padding-left: var(--padding-desktop);
	padding-right: var(--padding-desktop);
}

.grid-container {
	display: grid;
 	grid-template-columns: auto auto auto;
}

h3 {
	margin-top: 0px;
}

.stats-summary td:first-child {
	text-align: right;
	font-weight: bold;
}