.analytics {
	padding-left: var(--padding-desktop);
	padding-right: var(--padding-desktop);
}

.error-msg {
	color: red;
}

.grid-container {
	display: grid;
 	grid-template-columns: auto auto auto;
}

h3 {
	margin-top: 0px;
	margin-bottom: 5px;
}

.stats-summary td:first-child {
	text-align: right;
	font-weight: bold;
}

.hint-text {
	margin-bottom: 10px;
	font-size: 12px;
	color: #888888;
}