.header {
	display: flex;
	flex-direction: row;
	padding: 20px;
	padding-left: var(--padding-desktop);
	padding-right: var(--padding-desktop);
	margin-bottom: 20px;
	background-color: var(--primary-color);
}

.header .title-container {
	display: flex;
	flex: 0.1;
	flex-direction: column;
}

.header .title {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;

	color: #FFFFFF;
}

.header .subtitle {
	
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: 10px;

	color: #FFF;
}

.header .actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex: 0.9;
}

.header .links {
	margin-left: 20px;
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}

.header .navlink {
	font-size: 16px;
	color: white;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: lighter;
	text-decoration: none;
	cursor: pointer;
  	padding: 10px 20px 10px 20px;
}

.header .navlink:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.navlink-active {
	background-color: rgba(0, 0, 0, 0.1);
}