.App {
  --primary-color: #C1464E;
  --padding-desktop: 100px;
  --padding-tablet: 20px;
  --padding-mobile: 10px;

  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}