html,body {
      overflow: auto;
}

.App {
  --primary-color: rgb(193,70,78);
  --primary-color-rgb: 193, 70, 78;
  --padding-desktop: 100px;
  --padding-tablet: 20px;
  --padding-mobile: 10px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}